<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Modern Business School</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    {% if request.path == url_for('index') %}<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endif %}
    {% if request.path == url_for('admin') %}<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">{% endif %}
    {% if request.path == url_for('auth') %}<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">{% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c83c41b65f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="header__content">
            <div class="header__title">{{ context.title }}</div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

<script src="{{ url_for('static', filename='js/general.js') }}"></script>
{% if request.path == url_for('index') %}<script src="{{ url_for('static', filename='js/index.js') }}"></script>{% endif %}
{% if request.path == url_for('admin') %}<script src="{{ url_for('static', filename='js/admin.js') }}"></script>{% endif %}
{% if request.path == url_for('auth') %}<script src="{{ url_for('static', filename='js/auth.js') }}"></script>{% endif %}
</html>